################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoviesLib/obj
/_ReSharper.Caches/ReSharperPlatformVs1512_c794f944.MoviesLib.00
/.vs/MoviesLib/v15/Server/sqlite3
